
{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Byeonjae's Business Card</title>
</head>
<body>
    <div class="main-box">
        <div class="job-box">
            <div class="job-text">Software Engineer</div>
            <div class="skillset-text">Java / C++ / Python / SQL / Machine Learning</div>
        </div>
    
        <div class="float-wrap">
            <ul class="personal-info">
                <li>SON BYEONG JAE</li>
                <li >손병재</li>
                <li>Student</li>
            </ul>
            <ul class="contact-info">
                <li>전화번호: +82 10-2905-3719</li>
                <li>이메일: byeongjae.dev@gmail.com</li>
                <li>Github: <a href="https://github.com/Son-Byeongjae">https://github.com/</li>
            </ul>
        </div>
    </div>
</body>
</html>